/*====================/
* Realignment
*=====================/
* Any styles missing from this sheet were duplicative, kb-wise, upon inclusion of tailwind.css.
* In short, if it's not here, then it's been turned added as a class to the tag itself
* The animation was a standard Tailwind animation. The cadence was duplicated in the tailwind.css
* https://tailwindcss.com/docs/animation#prefers-reduced-motion handles the animation AND the media target
*/
.App-logo {
  height: 20vmin;/*Left this in because it's only used once. No need to write a definition for 12characters*/
}

.App-header {
  background-color: #282c34;/*Left this in. Removing it seemed bully-ish*/
  font-size: calc(0.625rem + 2vmin);/*Same here, redefining this in tailwind would take more k-size than this elegant execution*/
}

/*Coins*/
.coin.gold {
  border: solid 1px #7f712a;
  color: #f9e164;
  text-shadow: 1px 0 1px #4e2d10, 1px 0 2px #4e2d10;
  background: #92860e;
  background: linear-gradient( 
135deg, #BF953F, #92860e, #b3a228, #FBF5B7, #AA771C);
  box-shadow: inset 0 0 0 2px #ffeb86, inset 1px 0 0 3px #4a2e0d, 3px 1px 0 #63421a;
}

.coin.silver {
  border: solid 1px #545454;
  color: #ececec;
  text-shadow: 1px 0 1px #2e2e2e, 1px 0 2px #2e2e2e;
  background: #4f4f4f;
  background: linear-gradient( 
135deg, #b3b3b3, #828282, #a1a1a1, #d9d9d9, #969696);
  box-shadow: inset 0 0 0 2px #bababa, inset 1px 0 0 3px #5e5e5e, 3px 1px 0 #737373;
}

.coin.copper {
  border: solid 1px rgb(210 93 37);
  color: #f3c58a;
  text-shadow: 1px 0 1px #4e2d10, 1px 0 2px #4e2d10;
  background: #92860e;
  background: linear-gradient( 
135deg, #BF953F, #92330e, #b37b28, #fbd0b7, #aa781c);
  box-shadow: inset 0 0 0 2px #ec8250, inset 1px 0 0 3px #4a2e0d, 3px 1px 0 #63421a;
}